.after-hero-section {
    height: 560px;
}
.after-hero-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
}
.after-hero-titulo > h1 {
    margin: 2rem 0 0.5rem;
}
.after-hero-titulo > h4 {
    margin: 0;
    font-style: italic;
}
.after-hero-titulo > p {
    color: grey;
}
.after-hero-contenedor {
    height: 380px;
    display: flex;
    margin-top: 1rem;
    align-items: center;
}
.after-hero-contenedor-izq {
    width: 60vw;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3rem;
    opacity: 0;
    left: -100px;
    transition: opacity 0.5s, left 1s;
  }
  .after-hero-contenedor-izq.show {
    opacity: 1;
    left: 0;
  }
.after-hero-contenedor-der {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items:flex-start;
}
.segundo-articulo {
    margin-left: 4rem;
}
.after-hero-contenedor-der-articulo {
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0;
    right: 200px;
    transition: opacity 0.5s, right 1s;
}
.after-hero-contenedor-der-articulo.show {
    opacity: 1;
    right: 0;
  }

.after-hero-icon {
    position: absolute;
    left: -67px;
    top: -10px;
    padding: 1rem;
    font-size: 5rem;
    border-radius: 50%;
    background-color: yellow;
    z-index: 2;
}
.after-hero-contenedor-der-articulo > p {
    padding: 1rem 1.5rem;
    background-color: lightyellow;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border: 2px solid yellow;
    color: black;
    font-weight: bold;
}
