.planes{
    background-color: black;
    height: 550px;
}
.planes > h1 {
    color: yellow;
    text-align: center;
    padding: 1rem;
}
.planes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card-list-item {
    display: flex !important;
    justify-content: space-between;
}
.card-list-item-precio {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin: auto;
}
.card-list-icon {
    color: green;
    font-weight: bolder;
    font-size: 1.5rem;
}
.card-list-icon-cancel {
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
}
.card-header {
    background-color: yellow !important;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.card:hover {
    box-shadow: 0 0 10px yellow !important;
    cursor: pointer;
}
.card:nth-child(2) {
    height: 430px;
}
.btn-primary {
    width: 70% !important;
    background-color: yellow !important;
    color: black !important;
    margin: auto;
    font-weight: bold !important;
}