.planes{
    height: 550px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 0%), url('../../imagenes/planes-bg.jpg');
    background-size: cover;
    background-position: center;
}
.planes > h1 {
    color: yellow;
    text-align: center;
    padding: 1rem;
}
.planes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card {
    background: transparent !important;
    border: 2px solid yellow !important;
}
.card-list-item{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background: transparent !important;
}
.card-list-item > p {
    color: yellow;
    vertical-align: middle !important;
    margin: auto 0;
}
.card-list-item-precio {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin: auto;
    color: yellow !important;
    font-weight: bold !important;
    background: transparent !important;
}
.card-list-icon {
    color: green;
    font-weight: bolder;
    font-size: 1.5rem;
}
.card-list-icon-cancel {
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
}
.card-header {
    background-color: yellow !important;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.card:hover {
    box-shadow: 0 0 10px yellow !important;
    cursor: pointer;
}
.card:nth-child(2) {
    height: 400px;
}
.btn-primary {
    width: 70% !important;
    background-color: yellow !important;
    color: black !important;
    margin: auto;
    font-weight: bold !important;
}